.row-big a{
    font-size:40px;
}
.row-title h1{
    font-size:50px;
    text-align:center;
    padding:20px;
    
}
body {
    /*background-repeat: no-repeat;*/
    background-position: center;
    background-color: #fff;
    /*background-image: url('img/yellow.jpg');*/
    background-size:cover;
    height:1200px;
  }