body {
    /*background-repeat: no-repeat;*/
    background-position: center;
    background-color: #fff;
    /*background-image: url('img/yellow.jpg');*/
    background-size:cover;
  }
/*.profile_group{
}*/
.profile_title{
  font-size:25px;
}
.profile_element{
  font-size:20px;
}
.link-font{
  font-size:25px;
}