body {
    /*background-repeat: no-repeat;*/
    background-position: center;
    background-color: #fff;
    /*background-image: url('img/yellow.jpg');*/
    background-size:cover;
  }
/*.profile_group{

}*/